<div style="text-align:center">
  <h1>
    {{ title }} v{{ version }}
  </h1>
</div>

<app-cad-screen>
</app-cad-screen>


<b>
  CAD-SCREEN PROJECT IS HIRING!
</b>

<ol>
  <li>
    Database Administrator: TBH
  </li>
  <li>
    Angular Developer: @KongHuihui-CAD Huiui Kong
  </li>
  <li>
    WebTask Developer: TBH
  </li>
  <li>
    Service Administrator: @linyimin-bupt Yimin LIN
  </li>
  <li>
    Designer: TBH
  </li>
</ol>


<p>
  Contact Huan for details.
</p>

<div align="center">

  <h3>Advertisement space for rent!</h3>

</div>
