<div style="text-align:center">
  <h1>
    {{ title }} v{{ version }}
  </h1>
</div>

<app-cad-board>
</app-cad-board>


<b>
  CAD-BOARD PROJECT IS HIRING!
</b>

<ol>
  <li>
    Database Administrator: TBH
  </li>
  <li>
    Angular Developer: Hui KONG
  </li>
  <li>
    Node JS Developer: TBH
  </li>
  <li>
    System Administrator: Min LIN
  </li>
  <li>
    Designer: TBH
  </li>
</ol>


<p>
  Contact Huan LI for details.
</p>

<div align="center">

  <h3>Advertisement space for rent!</h3>

</div>
